<!-- Extends from base template -->
{% extends "base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Enables crispy form formatting -->
{% load crispy_forms_tags %}

<!-- Additional meta tags for specific pages -->
{% block extra_meta %}
{% endblock %}

<!-- page specific css -->
{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

<!-- Updates the page title -->
{% block title %}
Update Subscription Product
{% endblock title %}

<!-- The following is the unique content for this page -->
<!-- Indented to align with the base template -->
            {% block content %}
                <!-- Body Section of the update product page -->
                <section class="py-5 static-page">
                    <h1 class="text-center fs-1 fw-bold">Update Subscription</h1>
                    <div class="container px-5 my-5">
                        <aside class=" static-box bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                            <div class="d-flex align-items-center justify-content-center flex-column flex-xl-row text-center text-xl-start">
                                <div class="col-md-5 mb-4 mb-xl-0">
                                    <div class="row justify-content-between text-50 py-2">
                                        <!-- LUpdate Product form -->
                                        <form method="POST">
                                            {% csrf_token %}
                                            <div class="py-2 fs-3 fw-bold">
                                                <p class="py-2 fs-3 fw-bold">Subscription Name:</p>
                                            </div>
                                            <div class="py-2 fs-3 fw-bold">
                                                {{ form.name }}
                                            </div>
                                            <div class="py-2 fs-3 fw-bold">
                                                <p class="py-2 fs-3 fw-bold">Stripe Payment ID:</p>
                                            </div>
                                            <div class="py-2 fs-3 fw-bold">
                                                {{ form.stripe_subscription_id }}
                                            </div>
                                            <div class="py-2 fs-3 fw-bold">
                                                <p class="py-2 fs-3 fw-bold">Description:</p>
                                            </div>
                                            <div class="py-2 fs-3 fw-bold">
                                                {{ form.description }}
                                            </div>
                                            <div class="py-2 fs-3 fw-bold">
                                                <p class="py-2 fs-3 fw-bold">Monthly Price:</p>
                                            </div>
                                            <div class="py-2 fs-3 fw-bold">
                                                {{ form.price }}
                                            </div>
                                            <div class="py-2 fs-3 fw-bold">
                                                <p class="py-2 fs-3 fw-bold">Bags of Coffee:</p>
                                            </div>
                                            <div class="py-2 fs-3 fw-bold">
                                                {{ form.coffee }}
                                            </div>
                                            <div class="py-2 fs-3 fw-bold">
                                                <p class="py-2 fs-3 fw-bold">Bags of Accessories:</p>
                                            </div>
                                            <div class="py-2 fs-3 fw-bold">
                                                {{ form.accessory }}
                                            </div>
                                            <div class="py-2 fs-3 fw-bold">
                                                <p class="py-2 fs-3 fw-bold">Bags of Treats:</p>
                                            </div>
                                            <div class="py-2 fs-3 fw-bold">
                                                {{ form.treats }}
                                            </div>
                                            <!--Update button -->
                                            <div class="p-3 d-flex justify-content-center">
                                                <input type="submit" value="Update" class="btn darkmocha-button fw-bold">
                                            </div>
                                        </form>
                                        <!-- Error display functionality -->
                                        {% for message in messages %}
                                            {{message}}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </section>
            {% endblock %}
