<!-- Extends from base template -->
{% extends "base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Additional meta tags for specific pages -->
{% block extra_meta %}
{% endblock %}

<!-- page specific css -->
{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

<!-- Updates the page title -->
{% block title %}
Feedback Page
{% endblock title %}

<!-- The following is the unique content for this page -->
<!-- Indented to align with the base template -->
            {% block content %}
                <!-- Body Section of the feedback page -->
                <section class="py-5 static-page">
                    <h1 class="text-center fs-1 fw-bold">Feedback</h1>
                    <div class="container px-5 my-5">
                        <aside class=" static-box bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                            <div class="d-flex align-items-center justify-content-center flex-column flex-xl-row text-center text-xl-start">
                                <div class="col-md-5 mb-4 mb-xl-0">
                                    <div class="row justify-content-between text-50 py-2">
                                        <!-- Feedback form -->
                                        <form method="POST">
                                            {% csrf_token %}
                                            <div class="p-2 d-flex justify-content-center">
                                                <label class="p-2 fs-3 fw-bold" id="name">Name:</label>
                                            </div>
                                            <input type="text" name="name" placeholder="Name..." class="form-control" aria-label="Name field">
                                            <div class="p-2 d-flex justify-content-center">
                                                <label class="p-2 fs-3 fw-bold" id="comments">Feedback:</label>
                                            </div>
                                            <input type="text" name="comments" placeholder="Feedback..." class="form-control" aria-label="feedback field">
                                            <!--Submit button -->
                                            <div class="p-3 d-flex justify-content-center">
                                                <input type="submit" value="Submit" class="btn btn-lg px-4 me-sm-3 darkmocha-button">
                                            </div>
                                        </form>
                                        <!-- Error display functionality -->
                                        {% for message in messages %}
                                            {{message}}
                                            <div class="p-3 d-flex justify-content-center">
                                                <a class="btn btn-lg px-4 me-sm-3 darkmocha-button" href="{% url 'index' %}">Home</a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </section>
            {% endblock %}
