<!-- Extends from base template -->
{% extends "base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Additional meta tags for specific pages -->
{% block extra_meta %}
{% endblock %}

<!-- page specific css -->
{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

<!-- Updates the page title -->
{% block title %}
Profile Page
{% endblock title %}

<!-- The following is the unique content for this page -->
<!-- Indented to align with the base template -->
            {% block content %}
                <!-- Body Section of the login page page -->
                <section class="py-5 static-page">
                    <h1 class="text-center fs-1 fw-bold">Your Details</h1>
                    <div class="container px-5 my-5">
                        <aside class=" static-box bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                            <div class="d-flex align-items-center justify-content-center flex-column flex-xl-row text-center text-xl-start">
                                <div class="col-md-5 mb-4 mb-xl-0">
                                    <div class="row justify-content-between text-50 py-2">
                                        <p class="fs-4 fw-bold">{{ profile.first_name }} {{ profile.last_name }}</p>
                                        <p class="fs-4 fw-bold">{{ profile.address1 }}</p>
                                        <p class="fs-4 fw-bold">{{ profile.address2 }}</p>
                                        <p class="fs-4 fw-bold">{{ profile.address3 }}</p>
                                        <p class="fs-4 fw-bold">{{ profile.city }}</p>
                                        <p class="fs-4 fw-bold">{{ profile.postcode }}</p>
                                        <p class="fs-4 fw-bold">{{ profile.country }}</p>
                                    </div>
                                    <div class="p-3 d-flex justify-content-center">
                                        <a class="btn btn-outline-light btn-lg px-4 lightmocha-button" href="{% url 'customers:customer-update' user.pk %}">Edit Profile</a>
                                    </div>
                                </div>

                            </div>
                        </aside>
                    </div>
                </section>
            {% endblock %}
