<!-- Extends from base template -->
{% extends "base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Additional meta tags for specific pages -->
{% block extra_meta %}
{% endblock %}

<!-- page specific css -->
{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

<!-- Updates the page title -->
{% block title %}
Profile Update Page
{% endblock title %}

<!-- The following is the unique content for this page -->
<!-- Indented to align with the base template -->
            {% block content %}
                <!-- Body Section of the update details page -->
                <section class="py-5 static-page">
                    <h1 class="text-center fs-1 fw-bold">Update Details</h1>
                    <div class="container px-5 my-5">
                        <aside class="static-box bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                            <div class="d-flex align-items-center justify-content-center flex-column flex-xl-row text-center text-xl-start">
                                <div class="col-md-5 mb-4 mb-xl-0">
                                    <div class="row justify-content-between text-50 py-2">
                                        <!-- Form for Registration of new user -->
                                        <form method="POST">
                                            {% csrf_token %}
                                            <label class="py-2 fs-3 fw-bold" id="first_name">First Name:</label>
                                            <input type="text" name="first_name" placeholder="First Name..." class="form-control" aria-label="First name field">
                                            <label class="py-2 fs-3 fw-bold" id="last_name">Surname:</label>
                                            <input type="text" name="last_name" placeholder="Surname..." class="form-control" aria-label="Surname field">
                                            <label class="py-2 fs-3 fw-bold" id="address1">Address Line 1:</label>
                                            <input type="text" name="address1" placeholder="Address Line 1..." class="form-control" aria-label="Address Line one field">
                                            <label class="py-2 fs-3 fw-bold" id="address2">Address Line 2:</label>
                                            <input type="text" name="address2" placeholder="Address Line 2..." class="form-control" aria-label="Address Line Two field">
                                            <label class="py-2 fs-3 fw-bold" id="address3">Address Line 3:</label>
                                            <input type="text" name="address3" placeholder="Address Line 3..." class="form-control" aria-label="Address Line Three field">
                                            <label class="py-2 fs-3 fw-bold" id="city">City:</label>
                                            <input type="text" name="city" placeholder="City..." class="form-control" aria-label="City field">
                                            <label class="py-2 fs-3 fw-bold" id="postcode">Postcode:</label>
                                            <input type="text" name="postcode" placeholder="Postcode..." class="form-control" aria-label="Postcode field">
                                            <label class="py-2 fs-3 fw-bold" id="country">Country:</label>
                                            {{form.country}}
                                            <!--Submit button -->
                                            <div class="p-3 d-flex justify-content-center">
                                                <input type="submit" value="Update" class="btn darkmocha-button fw-bold">
                                            </div>
                                        </form>
                                        <!-- Error display function -->
                                        {% for message in messages %}
                                            {{message}}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </section>
            {% endblock %}
