<!-- Extends from base template -->
{% extends "base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Additional meta tags for specific pages -->
{% block extra_meta %}
{% endblock %}

<!-- page specific css -->
{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

<!-- Updates the page title -->
{% block title %}
Profile Page
{% endblock title %}

<!-- The following is the unique content for this page -->
<!-- Indented to align with the base template -->
            {% block content %}
                <!-- Body Section of the login page page -->
                <section class="py-5 static-page">
                    <h1 class="text-center">Profile</h1>
                    <div class="container px-5 my-5">
                        <aside class=" static-box bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                            <div class="d-flex align-items-center justify-content-center flex-column flex-xl-row text-center text-xl-start">
                                <div class="col-md-5 mb-4 mb-xl-0">
                                    <div class="row justify-content-between text-50 py-2">
                                        <p> Placeholder for view page </p>
                                        <tr>
                                            <td>{{details.first_name}}</td>
                                            <td>{{details.last_name}}</td>
                                            <td>{{details.address1}}</td>
                                            <td>{{details.address2}}</td>
                                            <td>{{details.address3}}</td>
                                        </tr>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </section>
            {% endblock %}
