<!-- Extends from base template -->
{% extends "base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Additional meta tags for specific pages -->
{% block extra_meta %}
{% endblock %}

<!-- page specific css -->
{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

<!-- Updates the page title -->
{% block title %}
Register Page
{% endblock title %}

<!-- The following is the unique content for this page -->
<!-- Indented to align with the base template -->
            {% block content %}
                <!-- Body Section of the Shipping page -->
                <section class="py-5 static-page">
                    <h1 class="text-center fs-1 fw-bold">Register</h1>
                    <div class="container px-5 my-5">
                        <aside class="static-box bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                            <div class="d-flex align-items-center justify-content-center flex-column flex-xl-row text-center text-xl-start">
                                <div class="col-md-5 mb-4 mb-xl-0">
                                    <div class="row justify-content-between text-50 py-2">
                                        <!-- Form for Registration of new user -->
                                        <form method="POST">
                                            {% csrf_token %}
                                            <label class="py-2 fs-3 fw-bold" id="username" for="username">Username:</label>
                                            <input type="text" name="username" placeholder="Username..." class="form-control" aria-label="User name field">
                                            <label class="py-2 fs-3 fw-bold" id="email" for="email">Email:</label>
                                            <input type="email" name="email" placeholder="Email Address..." class="form-control" aria-label="Email field">
                                            <label class="py-2 fs-3 fw-bold" id="password1" for="password1">Password:</label>
                                            <input type="password" name="password1" placeholder="Password..." class="form-control" aria-label="password field">
                                            <label class="py-2 fs-3 fw-bold" id="password2" for="password2">Confirm Password:</label>
                                            <input type="password" name="password2" placeholder="Confirm Password..." class="form-control"  aria-label="confirm password field">
                                            <!--Submit button -->
                                            <div class="p-3 d-flex justify-content-center">
                                                <input type="submit" value="Register" class="btn darkmocha-button fw-bold">
                                            </div>
                                            <!-- Redirection to login page -->
                                            <a class="d-block text-center mt-2 medium darkmocha" href="{% url 'customers:login-page' %}" aria-label="Redirect to Customer signin">Already a member? Sign In</a>
                                        </form>
                                        <!-- Error display function -->
                                        {% for message in messages %}
                                            {{message}}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </section>
            {% endblock %}
