<!-- Extends from base template -->
{% extends "base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Additional meta tags for specific pages -->
{% block extra_meta %}
{% endblock %}

<!-- page specific css -->
{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
        
<!-- Updates the page title -->
{% block title %}
About Page
{% endblock title %}

<!-- The following is the unique content for this page -->
<!-- Indented to align with the base template -->
            {% block content %}
                <!-- Header section block -->
                <header class="bg-dark py-5 index-header">
                    <div class="container px-5">
                        <div class="row gx-5 align-items-center justify-content-center">
                            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5 about-image" src="{% static 'images/site_images/one_cup.jpeg' %}" alt="Cup of coffee" /></div>
                            <div class="col-lg-8 col-xl-7 col-xxl-6">
                                <div class="my-5 text-center text-xl-start">
                                    <h1 class="display-5 fw-bolder mb-2">Coffee Coffee Coffee</h1>
                                    <p class="lead fw-normal text-50 mb-4">Each month you will receive a package with containing a delicious selection of coffee, an accessory to simplify the coffee making process and a sweat treat</p>
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <a class="btn btn-primary btn-lg px-4 me-sm-3 darkmocha-button" href="{% url 'subscriptions:subscription-products' %}">Get Started</a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </header>
                <!-- Highlights of the benefits section -->
                <section class="py-5 guide">
                    <div class="container px-5 my-5">
                        <div class="row gx-5">
                            <div class="col-lg-6">
                                <div class="row gx-5 pt-2 row-cols-1 row-cols-md-2">
                                    <div class="col mb-5 h-100">
                                        <div class="feature darkmocha rounded-3 mb-3 text-center"><i class="bi bi-person-badge-fill"></i></div>
                                        <h2 class="h5">All Organic</h2>
                                        <p class="mb-0">All MochaBean products are certified organic.</p>
                                    </div>
                                    <div class="col mb-5 h-100">
                                        <div class="feature darkmocha rounded-3 mb-3 text-center"><i class="bi bi-plus-circle-fill"></i></div>
                                        <h2 class="h5">All Fair Trade</h2>
                                        <p class="mb-0">Fair trade is an arrangement designed to help producers in growing countries achieve sustainable and equitable trade relationships</p>
                                    </div>
                                    <div class="col mb-5 mb-md-0 h-100">
                                        <div class="feature darkmocha rounded-3 mb-3 text-center"><i class="bi bi-patch-check-fill"></i></div>
                                        <h2 class="h5">Only the best roasts</h2>
                                        <p class="mb-0">Only the best quality of coffee will be packaged and sent to you</p>
                                    </div>
                                    <div class="col h-100">
                                        <div class="feature darkmocha rounded-3 mb-3 text-center"><i class="bi bi-cup-fill"></i></div>
                                        <h2 class="h5">Perfection in every cup</h2>
                                        <p class="mb-0">Coffee is not just a drink, it's an experience</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-1 about-image" src="{% static 'images/site_images/two_cups.jpeg' %}" alt="Two cups of Coffee"/></div>
                        </div>
                    </div>
                </section>
                <!-- Newsletter Subscription Section -->
                <section class="py-5 newsletter">
                    <div class="container px-5 my-5">
                        <aside class="newsletter-box bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                            <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                                <div class="mb-4 mb-xl-0">
                                    <div class="fs-3 fw-bold">Keep up to date with all things coffee</div>
                                    <div class="text-50">To keep up to date with the latest MochaBean news, Signup to our newsletter.</div>
                                </div>
                                <div class="xl-5">
                                    <div class="input-group mb-2 text-right">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <input class="form-control" type="email" name="email" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter"/>
                                            <input type="submit" value="Sign up" class="btn darkmocha-button fw-bold align-self-end">
                                        </form>
                                    </div>
                                    {% for message in messages %}
                                        {{message}}
                                    {% endfor %}
                                </div>
                            </div>
                        </aside>
                    </div>
                </section>
            {% endblock %}
