<!-- Extends from base template -->
{% extends "base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Additional meta tags for specific pages -->
{% block extra_meta %}
{% endblock %}

<!-- page specific css -->
{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
        
<!-- page specific js -->
{% block additional_js %}
{% endblock %}

<!-- Updates the page title -->
{% block title %}
FAQ Page
{% endblock title %}

<!-- The following is the unique content for this page -->
<!-- Indented to align with the base template -->
            {% block content %}
                <!-- Body Section of the Shipping page -->
                <section class="py-5 static-page">
                    <h1 class="text-center">Fequently Asked Questions</h1>
                    <div class="container px-5 my-5">
                        <aside class=" static-box bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                            <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                                <div class="accordion accordion-flush w-100" id="accordionQuestions">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="questionOne">
                                            <button class="accordion-button darkmocha-button w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">How often will I receive my coffee?
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="questionOne" data-bs-parent="#accordionQuestions">
                                            <div class="accordion-body static-box">
                                                Subscriptions are posted on the 20th of every month. If the 20th falls on a weekend/public holiday then it will be posted on the following working day. Please allow 3-5 working days for your coffee to arrive.
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="questionTwo">
                                            <button class="accordion-button darkmocha-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">I have not received my coffee yet. Where is it?
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="questionTwo" data-bs-parent="#accordionQuestions">
                                            <div class="accordion-body static-box">
                                                Subscriptions are posted on the 20th of every month. Please allow 3-5 working days for your coffee to arrive. If you still have not received it then please reach out to us via the contact form.
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="questionThree">
                                            <button class="accordion-button darkmocha-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Can I cancel my order?
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="questionThree" data-bs-parent="#accordionQuestions">
                                            <div class="accordion-body static-box">
                                                While we are sorry to see you go, you can cancel your subscription by either:
                                                <ul class="text-50 py-1">
                                                    <li>Via the Cancel Subscription options within the Subscription section of your Profile on the MochaBean™ site</li>
                                                    <li>By emailing MochaBean™ Care at MochaBean@coffee.com</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="questionFour">
                                            <button class="accordion-button darkmocha-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">My Box is missing an item or is damaged. What can I do?
                                            </button>
                                        </h2>
                                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="questionFour" data-bs-parent="#accordionQuestions">
                                            <div class="accordion-body static-box">
                                                In the rare circumstance where an item arrives damaged or is missing, please contact MochaBeans Care and we'd be happy to resolve your request. Validity of a damaged item will require an image be at the discretion of the support agent and we request a photo of the damaged item with your submission to expedite a resolution.
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="questionFive">
                                            <button class="accordion-button darkmocha-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Difficulties logging into my account
                                            </button>
                                        </h2>
                                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="questionFive" data-bs-parent="#accordionQuestions">
                                            <div class="accordion-body static-box">
                                                If you need to log into the site, click the login button in the top right corner.
                                                If you have forgotten your password please complete the "password reset" process. If you are still having difficulties please contact the MochaBean Care team.
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="questionSix">
                                            <button class="accordion-button darkmocha-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">I've moved, how can I update my address?
                                            </button>
                                        </h2>
                                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="questionSix" data-bs-parent="#accordionQuestions">
                                            <div class="accordion-body static-box">
                                                Once you are logged into the site, you can update your address within the Profile section.
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="questionSeven">
                                            <button class="accordion-button darkmocha-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">How can I change my payment method
                                            </button>
                                        </h2>
                                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="questionSeven" data-bs-parent="#accordionQuestions">
                                            <div class="accordion-body static-box">
                                                In order to change your payment card details you will need to cancel your existing subscription and purchase a new one. We understand this is a long process and are looking to improve it in the future.
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="questionEight">
                                            <button class="accordion-button darkmocha-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">Are all your products fairtrade and ethically sourced?
                                            </button>
                                        </h2>
                                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="questionEight" data-bs-parent="#accordionQuestions">
                                            <div class="accordion-body static-box">
                                                Yes. We source all of our coffee from organic farmers in order to achieve sustainable and equitable trade relationsips.
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </aside>
                    </div>
                </section>
            {% endblock %}
