<!-- Extends from base template -->
{% extends "base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Additional meta tags for specific pages -->
{% block extra_meta %}
{% endblock %}

<!-- page specific css -->
{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
        
<!-- page specific js -->
{% block additional_js %}
{% endblock %}

<!-- Updates the page title -->
{% block title %}
Policies Page
{% endblock title %}

<!-- The following is the unique content for this page -->
<!-- Indented to align with the base template -->
            {% block content %}
                <!-- Body Section of the Policies page -->
                <section class="py-5 newsletter">
                    <h1>Test Title for page</h1>
                    <div class="container px-5 my-5">
                        <aside class=" newsletter-box bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                            <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                                <div class="mb-4 mb-xl-0">
                                    <div class="fs-3 fw-bold">Coffee is not just a drink, it's an experience.</div>
                                    <div class="text-50">Sign up to the MochaBeans newsletter and keep up to date with all the latest coffee news.</div>
                                    <hr>
                                    <div class="fs-3 pt-3 fw-bold">Coffee is not just a drink, it's an experience.</div>
                                    <div class="text-50">Sign up to the MochaBeans newsletter and keep up to date with all the latest coffee news.</div>
                                    <hr>
                                    <div class="fs-3 pt-3 fw-bold">Coffee is not just a drink, it's an experience.</div>
                                    <div class="text-50">Sign up to the MochaBeans newsletter and keep up to date with all the latest coffee news.</div>
                                    <hr>
                                    <div class="fs-3 pt-3 fw-bold">Coffee is not just a drink, it's an experience.</div>
                                    <div class="text-50">Sign up to the MochaBeans newsletter and keep up to date with all the latest coffee news.</div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </section>
            {% endblock %}
