<!-- Extends from base template -->
{% extends "base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Additional meta tags for specific pages -->
{% block extra_meta %}
{% endblock %}

<!-- page specific css -->
{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

<!-- Updates the page title -->
{% block title %}
Policies Page
{% endblock title %}

<!-- The following is the unique content for this page -->
<!-- Indented to align with the base template -->
            {% block content %}
                <!-- Body Section of the Policies page -->
                <section class="py-5 static-page">
                    <h1 class="text-center fs-1 fw-bold">MochaBean Policies</h1>
                    <div class="container px-5 my-5">
                        <aside class=" static-box bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                            <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                                <div class="mb-4 mb-xl-0">
                                    <!-- Details about the Membership terms and conditions -->
                                    <div class="fs-3 fw-bold">Membership Terms</div>
                                    <div class="text-50 py-2">Monthly parcels for MochaBean™ are shipped to your address at the address you provided. You may receive emails regarding your account or promotions for special offers, including third party offers.</div>
                                    <div class="text-50 py-2">You can cancel your membership anytime without charge via Your Subscription section or by contacting Customer Support. Please refer to the Help Center for further details.</div>
                                    <hr>
                                    <!-- Details about the Payments and Billing -->
                                    <div class="fs-3 pt-3 fw-bold">Payments and Billing</div>
                                    <div class="text-50 py-2">By starting your MochaBean™ subscription and providing a payment method, you authorize us to charge you on a recurring monthly / 3-monthly / 6-monthly / 12-monthly (depending on your chosen subscription package) subscription fee at the then current rate. We reserve the right to adjust pricing for our subscriptions in any manner and at any time at our sole discretion, Any price changes to your subscription will take effect following email notice to you.</div>
                                    <div class="text-50 py-2">By providing payment details to MochaBean™ you are confirming that you are authorised to use this payment method.</div>
                                    <div class="text-50 py-2">If your payment to us is returned for any reason, we will bill your account again. If your payment is returned to us three of more times a FEE of €5 will be added to you next payment. Your subscription will not be posted until such time as the required payment has been successfully processed.</div>
                                    <hr>
                                    <!-- Details about the product subscription service -->
                                    <div class="fs-3 fw-bold">Subscription</div>
                                    <div class="text-50 py-2">By purchasing any subscription available on MochaBean™ you acknowledge that there is an initial payment followed by a reocurring payment. You are responsible for all payments made prior to any correct cancellation of your subscription with MochaBean™. Your subscription will automatically renew until such time as you correctly cancel it. </div>
                                    <div class="text-50 py-2">In order to cancel your subscription you must do one of the following at least 3 days before your next payment is due:</div>
                                    <ul class="text-50 py-1">
                                        <li>Via the Cancel Subscription options within the Subscription section of your Profile on the MochaBean™ site</li>
                                        <li>By emailing MochaBean™ Care at MochaBean@coffee.com</li>
                                    </ul>
                                    <hr>
                                    <!-- General site terms and conditions -->
                                    <div class="fs-3 pt-3 fw-bold">General Terms and Conditions</div>
                                    <div class="text-50 py-2">By using or purchasing from this site, you acknowledge that you have read, understood and agree to the Site's Terms and Conditions, which are listed out below.If at anytime you do not agree to these Terms and Condition, please discontinue using this site.If there are any changes to the Terms and Conditions will be be notified thirty days before such changes come into effect.</div>
                                    <div class="text-50 py-2">We grant you personal and non-exclusive permission to acess and use this site. We reserve the right, at our discreation and without providing notice to you, to revise the services and products that are available.</div>
                                    <div class="text-50 py-2">Your continued use of this site will mean you agree and accept any such changes.</div>
                                    <div class="text-50 py-2">We may assign you an account identification and/or credentials which will enable you to access certain sections of the site. Each time you access the site using this account identification and/or credentials, it will considered as authorised access and therefore MochaBeans will not be liable to investigate or determine the authenticity of the source of such access.</div>
                                    <div class="text-50 py-2">You are solely responsible for the security and maintenance of your account identification and/or credentials and are responsible for any actions conducted on the Site utilising these credentials.</div>
                                    <div class="text-50 py-2">You understand that participating in any of the following violations could result in MochaBeans suspending or terminating you access to the site and its products/services:</div>
                                    <ul class="text-50 py-1">
                                        <li>Use the website to promote promotions for other sites</li>
                                        <li>Submit any user data that MochaBean™, in its sole discretion, advises to be false, inaccurate, misleading, disruptive, unlawful, threatening, abusive, harassing, defamatory, pornographic, obscene, hateful, racially-motivated, or otherwise objectionable</li>
                                        <li>Distribute viruses or any other technologies that may harm MochaBean™ or the interests or property of our members and staff;</li>
                                        <li>Impersonate or misrepresent your affiliation with MochaBean™</li>
                                        <li>Unintentionally or intentionally violate any local, state, federal or international law</li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </section>
            {% endblock %}
