<!-- Extends from base template -->
{% extends "base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Additional meta tags for specific pages -->
{% block extra_meta %}
{% endblock %}

<!-- page specific css -->
{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
        
<!-- Updates the page title -->
{% block title %}
Shipping Page
{% endblock title %}

<!-- The following is the unique content for this page -->
<!-- Indented to align with the base template -->
            {% block content %}
                <!-- Body Section of the Shipping page -->
                <section class="py-5 static-page">
                    <h1 class="text-center fs-1 fw-bold">MochaBean Shipping</h1>
                    <div class="container px-5 my-5">
                        <aside class=" static-box bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                            <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                                <div class="mb-4 mb-xl-0">
                                    <!-- Details surrounding delivery -->
                                    <div class="fs-3 fw-bold">Delivery</div>
                                    <div class="text-50 py-2">All coffee subscriptions are posted on the 20th of each month. If the 20th falls on a weekend (saturday/sunday) then posting will occurr on the following working day.</div>
                                    <div class="text-50 py-2">All subscriptions are delivered using An Post - Registered Post and a tracking number will be emailed to you once sent.</div>
                                    <div class="text-50 py-2">An Post deliveries take place from Monday to Saturday, 8.30am - 6pm, as well as evening delivery between 6pm – 9pm. In the event of non-delivery during the day, the parcel will be re-delivered that evening. An Post do not deliver on Sundays. During Bank Holiday periods please allow an extra day for standard delivery.</div>
                                    <div class="text-50 py-2">If you are not at the address at the time of delivery, you can choose to have deliveries left in a safe space (including with a neighbour) where your parcel can be left. You may arrange a free re-delivery to another address, via phone call.</div>
                                    <div class="text-50 py-2">An Post will only attempt to deliver your parcel three (3) times before returning it to us. If this occurrs we will be happy to re-issue you parcel at an additional cost for postage.</div>
                                    <hr>
                                    <!-- Details surrounding the returns policies -->
                                    <div class="fs-3 pt-3 fw-bold">Returns</div>
                                    <div class="text-50 py-2">If you have changed your mind, you can return your parcel and cancel your subscription.</div>
                                    <div class="text-50 py-2">Refunds for returns will be limited to the unopened/unused product price only and will not include any postage costs incurred.</div>
                                    <div class="text-50 py-2">Any refund due will be returned using the same means of payment as the initial transaction.</div>
                                    <div class="text-50 py-2">MochaBean is not required to provide a refund should the customer provide an incorrect details, have not informed MochaBean of a change in details or fail to collect their parcel from the local postal collection point as per local requirements.</div>
                                    <div class="text-50 py-2">In order to cancel your subscription you must do one of the following at least 3 days before your next payment is due:</div>
                                    <ul class="text-50 py-1">
                                        <li>Via the Cancel Subscription options within the Subscription section of your Profile on the MochaBean™ site</li>
                                        <li>By emailing MochaBean™ Care at MochaBean@coffee.com</li>
                                    </ul>
                                    <hr>
                                    <!-- Accordion button in relation to the delivery countries -->
                                    <div class="fs-3 pt-3 fw-bold">Delivery Destinations</div>
                                    <div class="text-50 py-2">We currently only delivery within Europe at this time. See below for a list of available destinations.</div>
                                    <div class="accordion accordion-flush" id="accordionCountries">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="countries">
                                                <button class="accordion-button darkmocha-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Available Delivery Destinations
                                                </button>
                                            </h2>
                                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="countries" data-bs-parent="#accordionCountries">
                                                <div class="accordion-body static-box">
                                                    Austria, Belgium, Bulgaria, Croatia, Cyprus, Czechia, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Malta, Netherlands, Poland, Portugal, Romania, Slovakia, Slovenia, Spain and Sweden. 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </section>
            {% endblock %}
