@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


/* Base template css settings */
body {
    /* font-family: 'Shadows Into Light', cursive; */
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
    color: #543826;
}

.navigation-bar, .footer-bar {
    color: #EDE0D4 !important;
    background-color: #543826 !important;
    text-decoration: none !important;
    font-weight: bold;
}

.index-header, .feedback, .newsletter-box, .static-box {
    background-color: #7f5539 !important;
    color: #EDE0D4 !important;
}

.darkmocha-button, .darkmocha {
    background-color: #543826 !important;
    border-color: #543826 !important;
    color: #EDE0D4 !important;
}

.darkmocha-button:hover {
    background-color: #E6CCB2 !important;
    border-color: #E6CCB2 !important;
    color: #543826 !important;
}

.lightmocha-button, .lightmocha {
    background-color: #E6CCB2 !important;
    border-color: #E6CCB2 !important;
    color: #543826 !important;
}

.lightmocha-button:hover {
    background-color: #543826 !important;
    border-color: #543826 !important;
    color: #EDE0D4 !important;
}

.guide, .newsletter, .static-page {
    background-color: #E6CCB2 !important; 
}

/* Remover the default settings of the accordion buttons accross the site */
/* Primarily on the FAQs page and the Shipping Page */
.accordion-button {
    box-shadow: none !important;
    background-image: none !important;
}