@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Base template css settings */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #543826;
    min-height: 100vh !important;
}

/* Formatting for the navigation and footer bar */
.navigation-bar, .footer-bar {
    color: #EDE0D4 !important;
    background-color: #543826 !important;
    text-decoration: none !important;
    font-weight: bold;
}

/*formatting the body of the class pages */
.index-header, .feedback, .newsletter-box, .static-box, .product-card {
    background-color: #7f5539 !important;
    color: #EDE0D4 !important;
}

/* Settings for dark button component */
.darkmocha-button, .darkmocha {
    background-color: #543826 !important;
    border-color: #543826 !important;
    color: #EDE0D4 !important;
}

/* Settings for dark button component when mouse hover */
.darkmocha-button:hover {
    background-color: #E6CCB2 !important;
    border-color: #E6CCB2 !important;
    color: #543826 !important;
}

/* Settings for light button component */
.lightmocha-button, .lightmocha {
    background-color: #E6CCB2 !important;
    border-color: #E6CCB2 !important;
    color: #543826 !important;
}

/* Settings for light button component when mouse hover */
.lightmocha-button:hover {
    background-color: #543826 !important;
    border-color: #543826 !important;
    color: #EDE0D4 !important;
}

/*formatting the body of the class pages */
.guide, .newsletter, .static-page {
    background-color: #E6CCB2 !important; 
}

/* The following ensures smaller page content fills view screen */
.static-page{
    min-height: 90vh; 
}

/* Remove the default settings of the accordion buttons accross the site */
/* Primarily on the FAQs page and the Shipping Page */
.accordion-button {
    box-shadow: none !important;
    background-image: none !important;
}

.accordion-button::after {
    box-shadow: none !important;
    background-image: none !important;
}

.about-image {
    max-height: 400px;
}