@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


/* Base template css settings */
body {
    /* font-family: 'Shadows Into Light', cursive; */
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
    color: #543826;
}

.navigation-bar, .footer-bar {
    color: #ddb892 !important;
    background-color: #543826 !important;
    text-decoration: none !important;
    font-weight: bold;
}

.index-header {
    background-color: #7f5539 !important;
    color: #E6CCB2 !important;
}

.darkmocha-button, .darkmocha {
    background-color: #543826 !important;
    border-color: #543826 !important;
    color: #E6CCB2 !important;
}

.darkmocha-button:hover {
    background-color: #E6CCB2 !important;
    border-color: #E6CCB2 !important;
    color: #543826 !important;
}

.lightmocha-button {
    background-color: #E6CCB2 !important;
    border-color: #E6CCB2 !important;
    color: #543826 !important;
}

.lightmocha-button:hover {
    background-color: #543826 !important;
    border-color: #543826 !important;
    color: #E6CCB2 !important;
}