<!-- Extends from base template -->
{% extends "base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Additional meta tags for specific pages -->
{% block extra_meta %}
{% endblock %}

<!-- page specific css -->
{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
        
<!-- Updates the page title -->
{% block title %}
Confirm Password Reset
{% endblock title %}

<!-- The following is the unique content for this page -->
<!-- Indented to align with the base template -->
            {% block content %}
                <!-- Body Section of the Password reset confirmation page -->
                <section class="py-5 static-page">
                    <h1 class="text-center">Password Reset Complete</h1>
                    <div class="container px-5 my-5">
                        <aside class=" static-box bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                            <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                                <div class="mb-4 mb-xl-0">
                                    <div class="fs-3 fw-bold">Your password has been reset. You may go ahead and log in now.</div>
                                </div>
                            </div>
                            <!-- link to the login page -->
                            <div class="p-3 d-flex justify-content-center">
                                <a class="btn btn-lg px-4 me-sm-3 darkmocha-button" href="{% url 'customers:login-page' %}">Log in</a>
                            </div>
                        </aside>
                    </div>
                </section>
            {% endblock %}
