<!-- Extends from base template -->
{% extends "base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Additional meta tags for specific pages -->
{% block extra_meta %}
{% endblock %}

<!-- page specific css -->
{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
        
<!-- page specific js -->
{% block additional_js %}
{% endblock %}

<!-- Updates the page title -->
{% block title %}
Reset Email Sent
{% endblock title %}

<!-- The following is the unique content for this page -->
<!-- Indented to align with the base template -->
            {% block content %}
                <!-- Body Section of the Password reset confirmation page -->
                <section class="py-5 static-page">
                    <h1 class="text-center">Password Reset Email Sent</h1>
                    <div class="container px-5 my-5">
                        <aside class=" static-box bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                            <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                                <div class="mb-4 mb-xl-0">
                                    <div class="fs-3">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</div>
                                    <br>
									<div class="fs-3">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </section>
            {% endblock %}