<!-- Extends from base template -->
{% extends "base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Additional meta tags for specific pages -->
{% block extra_meta %}
{% endblock %}

<!-- page specific css -->
{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
        
<!-- page specific js -->
{% block additional_js %}
{% endblock %}

<!-- Updates the page title -->
{% block title %}
New Password
{% endblock title %}

<!-- The following is the unique content for this page -->
<!-- Indented to align with the base template -->
            {% block content %}
                <!-- Body Section of the Shipping page -->
                <section class="py-5 static-page">
                    <h1 class="text-center">Confirm New Password</h1>
                    <div class="container px-5 my-5">
                        <aside class=" static-box bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                            <div class="d-flex align-items-center justify-content-center flex-column flex-xl-row text-center text-xl-start">
                                <div class="col-md-5 mb-4 mb-xl-0">
									<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                                    <div class="row justify-content-between text-50 py-2">
										<form method="POST">
                                            {% csrf_token %}
                                            <label class="py-2  fs-3 fw-bold" id="new_password1" for="new_password1">Password:</label>
                                            <input type="password" name="new_password1" placeholder="New Password..." class="form-control" aria-label="new password field">
                                            <label class="py-2  fs-3 fw-bold" id="new_password2" for="new_password2">Confirm Password:</label>
                                            <input type="password" name="new_password2" placeholder="Confirm Password..." class="form-control"  aria-label="confirm password field">
                                            <!--Submit button -->
                                            <div class="p-3 d-flex justify-content-center">
												<input type="submit" value="Change My Password" class="btn darkmocha-button fw-bold">
											</div>	
										</form>
                                        {% if form.errors %}
                                            <div class="alert btn-danger" role="alert">
                                                <p>{{form.errors}}</p>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </section>
            {% endblock %}
