<!-- Extends from base template -->
{% extends "base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Additional meta tags for specific pages -->
{% block extra_meta %}
{% endblock %}

<!-- page specific css -->
{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
        
<!-- Updates the page title -->
{% block title %}
Reset Password
{% endblock title %}

<!-- The following is the unique content for this page -->
<!-- Indented to align with the base template -->
            {% block content %}
                <!-- Body Section of the Shipping page -->
                <section class="py-5 static-page">
                    <h1 class="text-center">Reset Password</h1>
                    <div class="container px-5 my-5">
                        <aside class=" static-box bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                            <div class="d-flex align-items-center justify-content-center flex-column flex-xl-row text-center text-xl-start">
                                <div class="col-md-5 mb-4 mb-xl-0">
                                    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                                    <form method="POST">
                                        <!-- Form to request a password reset -->
                                        {% csrf_token %}
                                        <label class="py-2 fs-3 fw-bold" id="email">Email:</label>
                                        <input type="email" name="email" placeholder="Email Address..." class="form-control" aria-label="Email field">
                                        <!--Submit button -->
                                        <div class="p-3 d-flex justify-content-center">
                                            <input type="submit" value="Reset My Password" class="btn darkmocha-button fw-bold">
                                        </div>								
                                    </form>
                                    <!-- Form Error display function -->
                                    {% for message in messages %}
                                        {{message}}
                                    {% endfor %}
                                </div>
                            </div>
                        </aside>
                    </div>
                </section>
            {% endblock %}
