<!-- Extends from base template -->
{% extends "base.html" %}

<!-- loads all the static resources -->
{% load static %}

<!-- Additional meta tags for specific pages -->
{% block extra_meta %}
{% endblock %}

<!-- page specific css -->
{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

<!-- Updates the page title -->
{% block title %}
Products
{% endblock title %}

<!-- The following is the unique content for this page -->
<!-- Indented to align with the base template -->
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">MochaBean Subscription pack</h1>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    {% for obj in object_list %}
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{obj.name}}</h4>
        </div>
        <div class="card-body">
          <p>{{obj.description}}</p>
          <ul class="list-unstyled mt-3 mb-4">
            <li>{{obj.coffee}} bags of coffee</li>
            <li>{{obj.accessory}} accessories for you coffee needs</li>
            <li>{{obj.treats}} treats for the sweet touch</li>
          </ul>
          <h1 class="card-title pricing-card-title">{{obj.price}}<small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Purchase now</li>
          </ul>
          {% if request.user.is_staff %}
            <a href="{% url 'subscriptions:subscription-update' pk=obj.pk %}"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Get started</button></a>
          {% else %}
            <a href="{% url 'index' %}"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Get started</button></a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}