{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags for the whole site -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A monthly subscription service delivering coffee as you need it.">
        <meta name="keywords" content="subscription, coffee, shop, organic, fairtrade">
        <meta name="author" content="Courtney Marshall">
        
        <!-- Provides age recommendation for site content -->
        <meta name="rating" content="General">

        <!-- Tells Google not to translate this site from english -->
        <meta name="google" content="notranslate">


        <!-- Meta Tags for Facebook Open Graph -->
        <!--This header tag has been included here to display knowledge of the requirements to the assessor. However as this is not a real company and a real facebook site has not been created, these fields are not puplated with real data -->
        <!--<meta property="og:url" content="#!">
        <meta property="og:type" content="website">
        <meta property="og:title" content="MochaBean">
        <meta property="og:image" content="https://">
        <meta property="og:image:width" content="200"/>
        <meta property="og:image:height" content="200"/>
        <meta property="og:image:alt" content="A picture of coffee beans">
        <meta property="og:description" content="A monthly subscription service delivering coffee as you need it.">
        <meta property="og:site_name" content="MochaBean">
        <meta property="og:locale" content="en_GB"> -->

        
        <!-- Meta Tags for Twitter Card -->
        <!--This header tag has been included here to display knowledge of the requirements to the assessor. However as this is not a real company and a real facebook site has not been created, these fields are not puplated with real data -->
        <!-- <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@MochaBeancoffeeclub">
        <meta name="twitter:url" content="https://example.com/page.html">
        <meta name="twitter:title" content="Content Title">
        <meta name="twitter:description" content="A monthly subscription service delivering coffee as you need it.">
        <meta name="twitter:image" content="https://example.com/image.jpg">
        <meta name="twitter:image:alt" content="A picture of coffee"> -->

        <!-- Decline to allow twitter from using the website's info for personalization purposes -->
        <meta name="twitter:dnt" content="on">

        <!-- Removes ability to save anything from the site as a PIN on Pintrest -->
        <meta name="pinterest" content="nopin">


        <!-- Additional meta tags for specific pages -->
        {% block extra_meta %}
        {% endblock %}

        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        
        <!-- custom css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        
        <!-- page specific css -->
        {% block additional_css %}
        {% endblock %}
        
        <!-- page specific js -->
        {% block additional_js %}
        {% endblock %}

        <title>MochaBean |{% block title %}{% endblock %}</title>
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <nav class="navigation-bar navbar navbar-expand-lg">
                <div class="container px-5 navigation-bar">
                    <a class="navbar-brand navigation-bar" href="{% url 'index' %}">MochaBean</a>
                    <!-- botton to change the Navbar to a hamburger on smaller devices-->
                    <button class="navbar-toggler navigation-bar" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMobileContent" aria-controls="navbarMobileContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon navigation-bar"><i class="bi bi-stack"></i></span></button>
                    <!-- actual navigation bar -->
                    <div class="collapse navbar-collapse navigation-bar" id="navbarMobileContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link navigation-bar" href="{% url 'about' %}">About</a></li>
                            <li class="nav-item"><a class="nav-link navigation-bar" href="{% url 'subscriptions:subscription-products' %}">Subscription</a></li>
                            <li class="nav-item"><a class="nav-link navigation-bar" href="{% url 'faq' %}">FAQ</a></li>
                            {% if user.is_staff %}
                                <!-- The following will only show to staff-->
                                <li class="nav-item dropdown navigation-bar">
                                    <a class="nav-link dropdown-toggle navigation-bar" id="navbarCustomerDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{request.user}}</a>
                                    <ul class="dropdown-menu dropdown-menu-end navigation-bar" aria-labelledby="navbarCustomerDropdown">
                                        <li><a class="dropdown-item navigation-bar" href="{% url 'subscriptions:subscription-create' %}">Create Subscription</a></li>
                                        <li><a class="dropdown-item navigation-bar" href="{% url 'customers:logout-page' %}">Logout</a></li>
                                    </ul>
                                </li>
                            {% elif user.is_authenticated %}
                                <!-- Options that appear to standard user -->
                                <li class="nav-item dropdown navigation-bar">
                                    <a class="nav-link dropdown-toggle navigation-bar" id="navbarCustomerDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{request.user}}</a>
                                    <ul class="dropdown-menu dropdown-menu-end navigation-bar" aria-labelledby="navbarCustomerDropdown">
                                        <li><a class="dropdown-item navigation-bar" href="{% url 'customers:customer-profile' user.pk %}">Profile</a></li>
                                        <li><a class="dropdown-item navigation-bar" href="{% url 'subscriptions:subscription-customer' %}">Subscription</a></li>
                                        <li><a class="dropdown-item navigation-bar" href="{% url 'customers:customer-feedback' %}">Leave Feedback</a></li>
                                        <li><a class="dropdown-item navigation-bar" href="{% url 'customers:logout-page' %}">Logout</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <!-- Buttons will appear if user not logged in-->
                                <li class="nav-item"><a class="nav-link navigation-bar" href="{% url 'customers:login-page' %}">Login</a></li>
                                <li class="nav-item"><a class="nav-link navigation-bar" href="{% url 'customers:register-page' %}">Register</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            {% block content %}
            {% endblock %}
        </main>
        <footer  class="py-4 mt-auto footer-bar">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto">
                        <div class="small m-0 footer-bar">MochaBeans &copy; 2021-2022</div>
                    </div>
					<div class="col-auto">
                        <a class="footer-bar" href="{% url 'shipping' %}">Shipping</a>
                        <span class="mx-1 footer-bar">&middot;</span>
                        <a class="footer-bar" href="{% url 'policies' %}">Policies</a>
                        <span class="mx-1 footer-bar">&middot;</span>
                        <a class="footer-bar" href="{% url 'customers:contact-us' %}">Contact</a>
                    </div>
                    <div class="col-auto">
                        <a class="mx-2 footer-bar" href="https://twitter.com/?lang=en" target="_blank" aria-label="Visit MochaBean twitter page (opens in a new tab)"><i class="bi bi-twitter"></i></a>
                        <a class="mx-2 footer-bar" href="https://www.instagram.com/" target="_blank" aria-label="Visit MochaBean instagram page (opens in a new tab)"><i class="bi bi-instagram"></i></a>
                        <a class="mx-2 footer-bar" href="https://www.facebook.com/" target="_blank" aria-label="Visit MochaBean facebook page (opens in a new tab)"><i class="bi bi-facebook"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
    